<div data-role="view" data-title="Вход" data-layout="main-nonav" data-model="app.home" data-show="app.home.onShow" id="homeScreen" class="screen">
    <img src="images/logoText.png" style="width: 95%; margin: 2.5%;">
    <div id="signin-screen">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Email
                        <input type="email" id="home-email" required autofocus>
                    </label>
                </li>
                <li>
                    <label>Парола
                        <input type="password" id="home-password" required>
                    </label>
                </li>
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button"  class="primary" onclick="account.login()">Напред</a>

                <a data-role="button"  onclick="views.signupView()">Регистрация</a>

            </div>

           
        </form>
    </div>
    <div id="signup-screen" style="display:none;">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Име
                        <input type="text" id="register-first-name" required>
                    </label>
                </li>
                <li>
                    <label>Фамилия
                        <input type="text" id="register-last-name">
                    </label>
                </li>
                <li>
                    <label>Телефон
                        <input type="text" id="register-phone-number">
                    </label>
                </li>
                 <li>
                    <label>Имейл
                        <input type="email" id="register-email">
                    </label>
                </li>

                 <li>
                    <label>Парола
                        <input type="password" id="register-password">
                    </label>
                </li>
            </ul>
            <div class="button-group button-group-vertical">
                <a class="primary"  data-role="button" onclick="account.signup()">Напред</a>
                <a data-role="button" onclick="views.signinView()">Вход</a>
            </div>
           
        </form>
    </div>
      <span class="status" id="errorMessage"></span>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_homeModel -->

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_home -->
</div>