<div data-role="view" data-title="Заявки" data-layout="main" data-model="app.callTaxi" data-show="app.callTaxi.onShow"
    data-after-show="app.callTaxi.afterShow" id="callTaxiScreen" class="screen">
   
    <div style="width: 170px; margin: 30px auto;"> 
        <button id="callTBtn" type="button" onclick="clicked()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Изпращане"
         style="width:100%; height: 170px; border-radius:50%; font-size: 25px; background-color:#f0ad4e; color:white;" data-role="button" 
          class="btn btn-warning btn-lg" >Поръчайте<br>такси</button>  
    </div>
    <div id="messageBox" class="alert"></div>
<div  id = "loading" class="progress" style="visibility: hidden; margin: 0 10px;">
  <div class="progress-bar-warning progress-bar-striped active" role="progressbar"
  aria-valuenow="100" style="animation: progress-bar-stripes 0.5s linear infinite" aria-valuemin="0" aria-valuemax="100" style="width:100%">
    Изпращане
  </div>
</div>
    
    <!-- START_CUSTOM_CODE_callTaxi -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_callTaxi -->
</div>