<div data-role="view" data-title="Заявки" data-layout="main" data-model="app.callTaxi" data-show="app.callTaxi.onShow"
     data-after-show="app.callTaxi.afterShow" id="callTaxiScreen" class="screen" data-use-native-scrolling="true" style = "overflow: hidden !important;  ">

    <div id="map" onresize="onMapResized()"></div>

    <div class="address-form">
        <h3>НАЧАЛЕН АДРЕС</h3>
        <h5>Избери от картата или въведи адреса долу.</h5>
        <div class="form-horizontal">
            <form>
            <input id="startingAddressStreet" class="form-control form-text" type="text" placeholder="Начален адрес..." onfocus="onFocus()" />
            <input id="startingAddressNumber" class="form-control form-text" type="text" placeholder= "Номер ..." onfocus="onFocus()" />
            <button type="submit "class="btn form-btn">Напред</button>
          </form>
        </div>

    </div>

</div>